<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>
    <!-- クリーンアップ対象のPath。カンマ区切りで複数登録可。 -->
    <add key="logPath" value="C:\dir_1,C:\dir_2"/>
    <!-- 対象とするファイルの拡張子("."は不要) -->
    <add key="extension" value="log"/>
    <!-- この日付以前のファイルを削除 -->
    <add key="limitDayNumber" value="7"/>
  </appSettings>
</configuration>
